@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    <img src="@Url.Content("/Content/images/mrsparklesm.png")" />Whoopsadoodles!  An error occurred while processing your request.  Don't worry though, our crack team of experts has already been notified.
</h2>
